In [41]:
import pandas as pd

data = {
    'Bedrooms': [3, 4, 2, 3, 4, 5, 3, 2, 4, 3],
    'SquareFootage': [2000, 2500, 1500, 1800, 2200, 3000, 2400, 1400, 2600, 2100],
    'Bathrooms': [2, 3, 1, 2, 3, 4, 3, 1, 3, 2],
    'Age': [10, 15, 5, 20, 8, 2, 12, 30, 7, 25],
    'Price': [300000, 400000, 200000, 250000, 350000, 450000, 380000, 180000, 410000, 320000]
}


df = pd.DataFrame(data)

print(df)

   Bedrooms  SquareFootage  Bathrooms  Age   Price
0         3           2000          2   10  300000
1         4           2500          3   15  400000
2         2           1500          1    5  200000
3         3           1800          2   20  250000
4         4           2200          3    8  350000
5         5           3000          4    2  450000
6         3           2400          3   12  380000
7         2           1400          1   30  180000
8         4           2600          3    7  410000
9         3           2100          2   25  320000

In [42]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

X = df[['Bedrooms', 'SquareFootage', 'Bathrooms', 'Age']]
y = df['Price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse}')

coefficients = pd.DataFrame(model.coef_, X.columns, columns=['Coefficient'])
print(coefficients)

Mean Squared Error: 402597431.40124375
                Coefficient
Bedrooms      -16725.663717
SquareFootage    145.409292
Bathrooms      31124.631268
Age               38.716814

In [43]:
comparison = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
print(comparison)

   Actual      Predicted
8  410000  392162.610619
1  400000  377931.415929